<a href="https://colab.research.google.com/github/josueorellana/PrograIII-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
nombre = "Josue Orellana"
print("hola",nombre, ",inicial:",nombre [0], nombre [5])

Hola mundo
hola Josue Orellana ,inicial: J

**Ejercicios:** crear un programa en Phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 6
resp = num1 + num2
print("El resultado es :", resp)

El resultado es : 11

**Ejercicio**, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [ ]:
print("num 1")
num1 = float(input())

print("num 2")
num2 = float(input())

resp = num1 + num2
print("la suma es: ",resp)

num 1
2
num 2
3
la suma es:  5.0

In [ ]:
from typing import Type

nombre ="Josue David"
print (nombre [0:4], nombre[:4], nombre[-1], nombre[5 :len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Josu Josu d  David
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

**EJERCICIO**, cree un programa en Phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero"))
if num % 2 == 0:
  print("El numero es par", num)

else:
    print("El numero es impar")

**EJERCICIO:** Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma (num1, num2):
  return num1 + num2

num1 = float (input("Num 1: "))
num2 = float (input("Num 2: "))

resp = suma (num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 9
La suma es:  14.0

**EJERCICIO:** Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

c = float(input("Celsius: "))
print("F: ",convertir_cf(c))

Celsius: 33
F:  91.4

**EJERCICIO:** Determina si un numero es par o impar.

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "Par"
  return "Impar"

num = int(input("Num: "))
print("El numero ", num, " es: ", parImpar(num))

Num: 9
El numero  9  es:  Impar

**TAREA:** EJERCICIOS:

**1. Convertir grados Farenheits a Celsius.**

In [ ]:
def conversor(f):
  c = (f-32) * 5/9
  return c

f = float(input("""Ingrese el numero de grados Farenheits a convertir:
 """))
print(F"La conversion a grados Celsius es: {conversor(f)}")

Ingrese el numero de grados Farenheits a convertir:
 60
La conversion a grados Celsius es: 15.555555555555555

**2. Convertir de grados [Celsius y Farenheit] a Kelvin.**

In [ ]:
print("""Seleccione la opción de conversión:
1. Celsius a Kelvin
2. Fahrenheit a Kelvin""")
opcion = int(input("""Ingrese la opción (1 o 2):
"""))

def CelsiusAkelvin(c):
    return c + 273.15

def FahrenheitAkelvin(f):
    return (f - 32) * 5 / 9 + 273.15

if opcion == 1:
        c = float(input("""Ingrese los grados Celsius a convertir:
"""))
        print(f"La conversión a grados Kelvin es: {CelsiusAkelvin(c):.2f}")
elif opcion == 2:
        f = float(input("""Ingrese los grados Fahrenheit a convertir:
"""))
        print(f"La conversión a grados Kelvin es: {FahrenheitAkelvin(f):.2f}")
else:
        print("Opción no válida. Por favor, seleccione 1 o 2.")

Seleccione la opción de conversión:
1. Celsius a Kelvin
2. Fahrenheit a Kelvin
Ingrese la opción (1 o 2):
1
Ingrese los grados Celsius a convertir:
1
La conversión a grados Kelvin es: 274.15

**EJERCICIO:** Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30
    return sueldo

numHrs = int(input("Horas: "))
valorXHrs = float(input("valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
valor: 1.5
Sueldo:  540.0

**EJERCICIO:** Elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0,exponente=2):
  return base ** exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 3
Cuadrado:  27

**USANDO FUNCIONES LAMBDA.**

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base ** exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

**EJERCICIO:** Obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
serie = [2,4,8,10,12,14]
resp = list (map(lambda x: x** 0.5, serie))
print(resp)

[1.4142135623730951, 2.0, 2.8284271247461903, 3.1622776601683795, 3.4641016151377544, 3.7416573867739413]

Ejercicios con funciones preconstruidas en python. :

* **MAP**

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla :"))
print(list(map(lambda n: n*ntabla, numeros)))

Tabla :7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

* **FILTER**

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros)))
print("Impares: ", list(filter(lambda n: n%2!=0, numeros)))

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobado: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobado:  [4, 2, 3, 1, 2]



* **REDUCE**

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce (lambda n, acum: n+acum, numeros))

Suma:  34


* **TUPLAS**

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tuplas: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tuplas:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado")
print("Primer dia: ",semana[0],"; Cuantas veces repite Domingo: ",semana.count("Domingo"), "; dias de la semana: ", len(semana))

Primer dia:  Domingo ; Cuantas veces repite Domingo:  1 ; dias de la semana:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado")
meses = ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")

print("Fecha:", semana[dia_semana], dia , " de ", meses [mes], " del ", year)

Fecha: Sabado 3  de  Septiembre  del  2024

In [ ]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #las tuplas son inmutables, no pueden cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #las listas son mutables, si se pueden cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

**LISTAS**

In [ ]:
listas = [5,8,7,9,"Luis","Jonathan","Ramon"]
print(listas,listas[-1])

[5, 8, 7, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9],["Parcial", 8] ] # 8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
reduce(obtenerNota, matriz, 0)

7.5

In [ ]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 2
Num: 2: 3
Num: 3: 4
Num: 4: 5
Num: 5: 6
Num: 6: 7
Num: 7: 8
Num: 8: 9
Num: 9: 12
Num a buscar: 7
Serie:  [2, 3, 4, 5, 6, 7, 8, 9, 12] El numero  7 , se repite:  1

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

[6, 5, 4, 2, 2, 1, 1]

**DICCIONARIOS - JSON**

In [ ]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Luis Hernandez Programacion III {'lab1': 8, 'lab2': 9, 'parcial': 10}

**Estructuras de control if** Ejercicios: Solicitar la edad y realizar la clasificacion.

In [ ]:
edad = int(input("Edad "))
if edad>17:
  print("Bienvenido al mundo de las responsabilidades")

Edad 20
Bienvenido al mundo de las responsabilidades

In [ ]:
continuar = "s"
while continuar=="s":
  edad = int(input("Edad: "))
  if(edad<0):
    print("Edad incorrecta")
  elif edad<=2:
    print("Eres un bebe")
  elif edad<12:
    print("Eres un niño")
  elif edad<18:
    print("Eres un adolescente")
  elif edad<65:
    print("Eres un adulto")
  elif edad<85:
    print("Eres un adulto mayor")
  else:
    print("Larga vida")
  continuar = input("Continuar s, sino cualquier tecla: ")

Edad: -2
Edad incorrecta
Continuar s, sino cualquier tecla: s
Edad: 5
Eres un niño
Continuar s, sino cualquier tecla: n

**Solicitar un numero y verififcar si es positivo o negativo**

**Solicitar una tabla de multiplicar y generarla**

In [ ]:
continuar="s"
while continuar=="s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("Continuar s, sino cualquier tecla: ")

Tabla: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Continuar s, sino cualquier tecla: s
Tabla: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Continuar s, sino cualquier tecla: n

**PROGRAMACION ORIENTADA A OBJETOS**

* **CLASE**

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2


* **OBJETOS**

In [ ]:
#instanciar la clase Calculadora, para crear el objeto a partir de la clase.
objCalculadora = Calculadora()
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
print("Suma: ", objCalculadora.sumar(num1, num2))


**EJERCICIO** Escriba un programa que lea una serie de numeros introducidos por el usuario, y determine la media aritmetica.

In [ ]:
from math import sqrt

class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += num
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (num-media)**2
    return sqrt(suma/len(serie))

In [ ]:
n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )


**TAREA:**

**Encontrar de una serie de numeros introducidos por el usuario la varianza**

In [3]:
import numpy as np
print("Calcule la varianza de 5 numeros")
numeros = []
for i in range(5):
    numero = float(input(f"Introduce el número {i+1}: "))
    numeros.append(numero)

numeros_array = np.array(numeros)

varianza = np.var(numeros_array)

print(f"La varianza de los números introducidos es: {varianza}")

Calcule la varianza de 5 numeros
Introduce el número 1: 10
Introduce el número 2: 15
Introduce el número 3: 13
Introduce el número 4: 14
Introduce el número 5: 11
La varianza de los números introducidos es: 3.44

**Encontrar de una serie de numeros introducidos por el usuario la frecuencuia**

In [11]:
from collections import Counter
print("Introduzca 6 numero para encontrar su frecuencia3")
numeros = []
for i in range(6):
    numero = float(input(f"Introduce el número {i+1}: "))
    numeros.append(numero)

frecuencia = Counter(numeros)
2
print("\nFrecuencia de los números introducidos:")
for numero, freq in frecuencia.items():
    print(f"Número {numero} se repite: {freq} vez/veces")

Introduzca 6 numero para encontrar su frecuencia3
Introduce el número 1: 3
Introduce el número 2: 3
Introduce el número 3: 6
Introduce el número 4: 7
Introduce el número 5: 8
Introduce el número 6: 9

Frecuencia de los números introducidos:
Número 3.0 se repite: 2 vez/veces
Número 6.0 se repite: 1 vez/veces
Número 7.0 se repite: 1 vez/veces
Número 8.0 se repite: 1 vez/veces
Número 9.0 se repite: 1 vez/veces

**Escriba un programa que determine si una palabra introducida por el usuario es palindrome.**

In [17]:
def es_palindromo(palabra):
    palabra = palabra.replace(" ", "").lower()
    return palabra == palabra[::-1]

entrada = input("Introduce una palabra para verificar si es un palíndromo: ")

if es_palindromo(entrada):
    print(f"La palabra '{entrada}' es un palíndromo.")
else:
    print(f"La palabra '{entrada}' no es un palíndromo.")

Introduce una palabra para verificar si es un palíndromo: leer
La palabra 'leer' no es un palíndromo.